First things first, I am importing the dataset and exploring it:

In [76]:
#import pandas
import pandas as pd

In [77]:
pd.DataFrame

pandas.core.frame.DataFrame

In [78]:
#importing the datafile
covid_data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv", parse_dates=['date'])
print (covid_data)

       iso_code  ... excess_mortality_cumulative_per_million
0           AFG  ...                                     NaN
1           AFG  ...                                     NaN
2           AFG  ...                                     NaN
3           AFG  ...                                     NaN
4           AFG  ...                                     NaN
...         ...  ...                                     ...
160232      ZWE  ...                                     NaN
160233      ZWE  ...                                     NaN
160234      ZWE  ...                                     NaN
160235      ZWE  ...                                     NaN
160236      ZWE  ...                                     NaN

[160237 rows x 67 columns]

In [79]:
#Exploring the data
covid_data.shape

(160237, 67)

In [80]:
covid_data.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [81]:
covid_data.dtypes

iso_code                                           object
continent                                          object
location                                           object
date                                       datetime64[ns]
total_cases                                       float64
                                                ...
human_development_index                           float64
excess_mortality_cumulative_absolute              float64
excess_mortality_cumulative                       float64
excess_mortality                                  float64
excess_mortality_cumulative_per_million           float64
Length: 67, dtype: object

In [82]:
covid_data.loc[:,'location']

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
160232       Zimbabwe
160233       Zimbabwe
160234       Zimbabwe
160235       Zimbabwe
160236       Zimbabwe
Name: location, Length: 160237, dtype: object

In [83]:
covid_data.loc[:,'continent']

0           Asia
1           Asia
2           Asia
3           Asia
4           Asia
           ...
160232    Africa
160233    Africa
160234    Africa
160235    Africa
160236    Africa
Name: continent, Length: 160237, dtype: object

In [84]:
covid_data.describe()

        total_cases  ...  excess_mortality_cumulative_per_million
count  1.573620e+05  ...                              5529.000000
mean   2.332441e+06  ...                               922.791700
std    1.396687e+07  ...                              1372.453561
min    1.000000e+00  ...                             -1826.595723
25%    1.802000e+03  ...                               -36.908329
50%    2.365800e+04  ...                               433.992272
75%    2.770360e+05  ...                              1574.946347
max    3.972592e+08  ...                              8626.892312

[8 rows x 62 columns]

In [85]:
covid_data.isnull().sum()

iso_code                                        0
continent                                    9618
location                                        0
date                                            0
total_cases                                  2875
                                            ...
human_development_index                     28863
excess_mortality_cumulative_absolute       154708
excess_mortality_cumulative                154708
excess_mortality                           154696
excess_mortality_cumulative_per_million    154708
Length: 67, dtype: int64

The pandemic started in Asia and since then, it has been heard that Asian countries handled the corona pandemic better than European or American countries. Besides, not much information has been communicated about the coronavirus in African countries. Is it because the virus was less present there? Did they handled the pandemic better that other continent?

#**Project idea:** Accordingly, I would like to investigate the evolution of the pandemic per continent since 2020 and which one handled it better.

#I) First step is to select the columns I need to perform my investigation:

In [86]:
covid_data= covid_data[['continent', 'date', 'total_cases_per_million', 'total_deaths_per_million', 'total_vaccinations_per_hundred', 
                        'population', 'median_age', 'aged_70_older', 'hospital_beds_per_thousand', 'human_development_index']]
covid_data

       continent  ... human_development_index
0           Asia  ...                   0.511
1           Asia  ...                   0.511
2           Asia  ...                   0.511
3           Asia  ...                   0.511
4           Asia  ...                   0.511
...          ...  ...                     ...
160232    Africa  ...                   0.571
160233    Africa  ...                   0.571
160234    Africa  ...                   0.571
160235    Africa  ...                   0.571
160236    Africa  ...                   0.571

[160237 rows x 10 columns]

#II) Now, I would like to clean the data and remove all missing values:

In [87]:
#First, I remove all the data that miss one of this information
covid_data= covid_data.dropna(thresh=1, subset= ['continent', 'date', 'total_cases_per_million', 'total_deaths_per_million', 
                                                 'total_vaccinations_per_hundred', 'population', 'median_age', 'aged_70_older', 
                                                 'hospital_beds_per_thousand', 'human_development_index'])
covid_data

       continent  ... human_development_index
0           Asia  ...                   0.511
1           Asia  ...                   0.511
2           Asia  ...                   0.511
3           Asia  ...                   0.511
4           Asia  ...                   0.511
...          ...  ...                     ...
160232    Africa  ...                   0.571
160233    Africa  ...                   0.571
160234    Africa  ...                   0.571
160235    Africa  ...                   0.571
160236    Africa  ...                   0.571

[160237 rows x 10 columns]

In [88]:
#I check where data are missing
covid_data.isnull().sum()

continent                           9618
date                                   0
total_cases_per_million             3607
total_deaths_per_million           21196
total_vaccinations_per_hundred    117441
population                          1049
median_age                         27311
aged_70_older                      28024
hospital_beds_per_thousand         40958
human_development_index            28863
dtype: int64

In [89]:
#Now, I remove the data that are missing in each of these columns
covid_data= covid_data.dropna(thresh=1, subset= ['continent'])
covid_data= covid_data.dropna(thresh=1, subset= ['total_cases_per_million'])
covid_data= covid_data.dropna(thresh=1, subset= ['total_deaths_per_million'])
covid_data= covid_data.dropna(thresh=1, subset= ['total_vaccinations_per_hundred'])
covid_data= covid_data.dropna(thresh=1, subset= ['population'])
covid_data= covid_data.dropna(thresh=1, subset= ['median_age'])
covid_data= covid_data.dropna(thresh=1, subset= ['aged_70_older'])
covid_data= covid_data.dropna(thresh=1, subset= ['hospital_beds_per_thousand'])
covid_data= covid_data.dropna(thresh=1, subset= ['human_development_index'])

In [90]:
#I check if there are still missing values
covid_data.isnull().sum()

continent                         0
date                              0
total_cases_per_million           0
total_deaths_per_million          0
total_vaccinations_per_hundred    0
population                        0
median_age                        0
aged_70_older                     0
hospital_beds_per_thousand        0
human_development_index           0
dtype: int64

#III) I am modifying the dataset to obtain a better representation

In [91]:
#For the later representation, I need to create a column that would indicate how well each continent handled the corona crisis:
covid_data['handled_corona'] = (covid_data['total_deaths_per_million']).astype(int) / (covid_data['total_cases_per_million']).astype(int)

covid_data.head()

    continent       date  ...  human_development_index  handled_corona
364      Asia 2021-02-22  ...                    0.511        0.043696
370      Asia 2021-02-28  ...                    0.511        0.043634
386      Asia 2021-03-16  ...                    0.511        0.043416
408      Asia 2021-04-07  ...                    0.511        0.044149
423      Asia 2021-04-22  ...                    0.511        0.043746

[5 rows x 11 columns]

#IV) I am now testing a few functions with this dataset:

In [92]:
#What is the average number of cases per continent?
covid_data.groupby(['continent'])['total_cases_per_million'].mean()

continent
Africa           16303.115785
Asia             41043.772204
Europe           89162.584333
North America    47849.381900
Oceania           7766.161744
South America    65219.946452
Name: total_cases_per_million, dtype: float64

In [93]:
#What is the average number of cases per continent, per date?
covid_data.groupby(['continent', 'date'])['total_cases_per_million'].mean()

continent      date
Africa         2021-01-09      4529.370000
               2021-01-13      5833.586000
               2021-01-15      6328.986000
               2021-01-16      6328.986000
               2021-01-19      7542.210000
                                 ...
South America  2022-02-03    120089.590714
               2022-02-04    104956.311222
               2022-02-05    121370.229143
               2022-02-06    135349.380667
               2022-02-07    174536.319000
Name: total_cases_per_million, Length: 2428, dtype: float64

#V) Data visualization:

In [94]:
import altair as alt
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [95]:
covid_data.dtypes

continent                                 object
date                              datetime64[ns]
total_cases_per_million                  float64
total_deaths_per_million                 float64
total_vaccinations_per_hundred           float64
population                               float64
median_age                               float64
aged_70_older                            float64
hospital_beds_per_thousand               float64
human_development_index                  float64
handled_corona                           float64
dtype: object

In [96]:
#chart1= alt.Chart(covid_data).mark_line().encode(
#    x= 'date',
#    y= 'mean(total_cases_per_million)',
#    color= 'continent'
#)
#chart1

<img src=”https://github.com/Justinemaastrichtuni/voila/blob/main/chart1.png?raw=true”>

In [97]:
#Surprisingly for me, Europe has the biggest number of cases since december 2020. What about the number of deaths?

#chart2= alt.Chart(covid_data).mark_line().encode(
#    x= 'date',
#    y= 'mean(total_deaths_per_million)',
#    color= 'continent'
#)

#chart2

<img src=”https://github.com/Justinemaastrichtuni/voila/blob/main/chart2.png?raw=true”>

In [98]:
#Here again, Europe is in the top three continents with a high mortality rate. However, it makes sense when one observes the high number of cases.
#Could it be because of a low percentage of vaccinations? 

#chart3= alt.Chart(covid_data).mark_bar().encode(
#    x= 'date',
#    y= 'total_vaccinations_per_hundred',
#    color= 'continent'
#)
#chart3

<img src=”https://github.com/Justinemaastrichtuni/voila/blob/main/chart3.png?raw=true”>

According to these charts, one can observe that the continents with the higher number of cases and deaths due to covid since december 2020 are continents with low vaccinations percentage of the population namely, Europe, North and South America.

#VI) Interactive visualization of the data:

In [99]:
import ipywidgets as widgets
from ipywidgets import interact
from ipywidgets import fixed

In [100]:
#I would like to observe which continent handled the best the corona crisis
def select_continent(continent, df):

  return df.loc[df['continent'] == continent, ]

interact(select_continent, continent= ['Africa','Asia', 'Europe', 'North America', 'Oceania', 'South America'], df=fixed(covid_data));

interactive(children=(Dropdown(description='continent', options=('Africa', 'Asia', 'Europe', 'North America', …

In [101]:
def visualize_continent(continent, df):
  
  continent_data = select_continent(continent, df)

chart = alt.Chart(continent_data).mark_bar().encode(
              x='date',
              y= 'handled_corona',
              color= 'continent'
          )
 
display(chart)

NameError: ignored

In [ ]:
visualization_handled_corona= alt.Chart(covid_data).mark_bar().encode(
      x='date',
      y='handled_corona',
      color='continent'
  )

visualization_handled_corona

In [ ]:
interact(continent_data, continent= [('Africa'),
                                                   ('Asia'), 
                                                   ('Europe'), 
                                                   ('North America'), 
                                                   ('Oceania'), 
                                                   ('South America')], 
         df=fixed(covid_data));

#**Conclusion**:
According to these representations, the continent that had the highest number of deaths and covid cases are South America and Europe. Meantime, South America has the lowest scores of total vaccinations which might be an explanation for the high number of cases.

Africa is the continents with the least number of cases and of death however, when doing the ratio deaths over cases due to covid, this continent jumps to the first place with the highest ratio.
Accordingly, it seems that there were few cases on this continent compared to the rest of the world but that the situation was poorly handled with.

Regarding Asia, there were the countries with the most cases